html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  cursor: url("/assets/images/cursor.png"), pointer;
  font-family: "Chakra Petch", "PT Sans", "PT Mono", sans-serif;
}

img {
  max-width: 100%;
}
